
/* Your CSS Code here. */
.holder {
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;	
}

.item {
	height:70px;
	width:70px;
	background-color:green;
	margin:2px;
}
.item:nth-last-child(1) {
	background-color:blue;
}
.item:nth-last-child(2) {
	background-color:red;
}